.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, rgb(0, 128, 43), rgb(191, 214, 106), rgba(153, 0, 255, 0.418), teal);
    color: white; 
}

.navbar {
    background-color: #312faf; 
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px; 
}

.site-footer {
    background-image: linear-gradient(#cec8ff, white);
    padding: 20px 0; 
}