#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-item img {
    opacity: 0.8;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, rgb(0, 128, 43), rgb(191, 214, 106), rgba(153, 0, 255, 0.418), teal);
    color: white; 
}

.navbar {
    background-color: #312faf; 
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px; 
}

.site-footer {
    background-image: linear-gradient(#cec8ff, white);
    padding: 20px 0; 
}

/* div h3, div p {
    color: rgb(133, 211, 16);
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
}

div p {
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
} */